<br>

<footer class="footer">
		<div class="container row sgw">
			
			<div class="footer-col">
				<h4>Quick Links</h4>
				<ul class="txtleft pd0_set">
					<li><a href="/welcome">Home</a></li>
            <li>
                <a href="/art-list">My Arts</a>
            </li>
            <li>
                <a href="/past-auction">Past Auction</a>
            </li>
            <li>
                <a href="/advertisement-list">My Advertisements</a>

            </li>
            <li>
                <a href="/profile">My Profile</a>
            </li>
             
				</ul>
			</div>
			<div class="footer-col">
				<h4>follow us</h4>
				<ul class="txtleft pd0_set">
					<li><a href="javascript:void(0);">Facebook</a></li>
					<li><a href="javascript:void(0);">Instagram</a></li>
					<li><a href="javascript:void(0);">Linkedin</a></li>
					<li><a href="javascript:void(0);">Youtube</a></li>             
				</ul>
				 
			</div>
			<div class="footer-col">
				<h4>Policies</h4>
				<ul class="txtleft pd0_set">
					<li><a href="javascript:void(0);">Privacy Policy</a></li>
					<li><a href="javascript:void(0);">Terms & Conditions</a></li>
					<li><a href="javascript:void(0);">Disclaimer</a></li>
					           
				</ul>
				 
			</div>
			 
		</div>
	</footer>
  <script>

    function openNav() {
      document.getElementById("mySidenav").style.width = "250px";
    }
    
    function closeNav() {
      document.getElementById("mySidenav").style.width = "0";
    }
      </script>
      </div>
</div>

</html>