<!DOCTYPE html>

<html>



<head>

    <meta charset="utf-8" />

    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <title>ArtBid</title>

    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link href="https://fonts.googleapis.com/css?family=Bilbo+Swash+Caps" rel="stylesheet">

    <link href="https://fonts.googleapis.com/css?family=Kalam" rel="stylesheet">

    <link rel="stylesheet" type="text/css" href="/css/form.css">

</head>



<!-- <header>

    <img src="/images/logo.png" alt="pagelogo" width="100px">

    <h1> ArtBid </h1>

</header> -->