<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">

<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/timepicker/1.3.5/jquery.timepicker.min.css">
<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/timepicker/1.3.5/jquery.timepicker.min.js"></script>


<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href='https://fonts.googleapis.com/css?family=Poppins' rel='stylesheet'>
    
    <link rel="stylesheet" type="text/css" href="/style.css">
    <link rel="stylesheet" type="text/css" href="/profile.css">
	 
    <title>ArtBid</title>
</head>
<style>
.pdag{
padding:50px;}
.imgBx {
    position: relative;
    width: 100%;
    min-height: 300px;
    margin: 10px 0 15px;
}
.imgBx .cover {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 5px;
    height: 300px;
    width: 100%;
}
a.active.show{
    background: brown;
    color: #fff !important;
    padding: 15px 50px;
    border-radius: 30px;
    font-size: 16px;
}
.shge{
background: brown;
    color: #fff !important;
    padding: 15px 50px;
    border-radius: 30px;
    font-size: 16px;
}
.tab-pane.active.show {
    background: brown;
    padding: 20px;
	    border-radius: 12px;
}
.tbbox_link{
    background: brown;
    color: #fff !important;
    padding: 15px 50px;
    border-radius: 30px;
    font-size: 16px;}
.tbbox{
background: brown;
    padding: 20px;
	    border-radius: 12px;}
.login-btn{
cursor:pointer !important; }
.border-danger{
border-color: #000!important;
}
.img-account-profile{
    height: 148px;
	    object-fit: contain;
    width: 100%;
    border-radius: 0px !IMPORTANT;
}
.form-floating>.form-control:-webkit-autofill~label{
font-size: 16px !important;}
input[type="date"]{
    color: #212529;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-color: #000!important;
    height: 50px;}
	
input[type="time"]{
color: #212529;
background-color: #fff;
background-clip: padding-box;
border: 1px solid #ced4da;
border-color: #000!important;
height: 50px;}
 .login-btn {
	width:100%;
 }
 textarea{
    color: #212529;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-color: #000!important;
    height: 50px;}
	
	select{
    color: #212529;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-color: #000!important;
    height: 50px !important;}


input[type="text"]{
    color: #212529;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-color: #000!important;
    height: 50px;}
	input[type="email"]{
    color: #212529;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-color: #000!important;
    height: 50px;}
	input[type="number"]{
    color: #212529;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-color: #000!important;
    height: 50px;}
.uplok .alert-success {
    color: #fff !important;
    background-color: #62003c;
    border-color: #62003c;
    padding: 12px 30px;
    text-decoration: none !important;
	    border-radius: 5px;
}
.uplokes .alert-success {
    color: #fff !important;
    background-color: #62003c;
    border-color: #62003c;
    padding: 12px 30px;
    text-decoration: none !important;
	    border-radius: 5px;
}
.uplokes{
    margin-top: 20px;
    border-radius: 5px;}
.uplok{
    position: relative;
    right: 60px;
    bottom: 20px;}
.message b {
    color: inherit;
}
.min_bid_amount{
font-weight: 500;
    font-size: 24px;
    letter-spacing: -.02em;
    color: #010f1c !important;}
.pbdn{
    padding-bottom: 20px;}
.widse{
    max-width: 24%;
    margin: 5px;}
.hme a{
    color: #212529;
	text-decoration:none;
	}
.svgt{
    position: relative;
    top: 3px;}
.hme{
    padding: 0px 5px;}
.pdhs{
			padding-top: 120px;
    padding-left: 50px;
		}
nav {
    position: fixed;
    z-index: 10;
    left: 0;
    right: 0;
    top: 0;
    font-family: 'Montserrat', 'sans-serif';
    height: 100px;
    background-color: #fafafa;
    padding: 0 5%;}
nav .logo { 
    float: left;
    width: 40%;
    height: 100%;
    display: flex;
    align-items: center;
    font-size: 24px;
    color: #fff;
}
.bid_show_btn_d{
    border: 1px solid #1D1D1D;
    padding: 15px;
    text-align: center;
    color: #000;
    border-radius: 5px;
	cursor:pointer;
}
.primd{
text-align: center;
    text-transform: uppercase;
    text-rendering: optimizeLegibility;
     
    font-size: 60px;
	    padding-bottom: 15px;
    letter-spacing: .15em;
	}
	.sgw{
	    max-width: 100%;}
	.footer {
	background-color: #151515;
	padding: 50px;
	    text-align: left;
	position: static;
}
.pd0_set{
    padding: 0;}
	.pd0_set li{
    padding: 0;}
.txtleft{
text-align: left !important;
}
.txtleft li{
text-align: left !important;
}
 

ul {
	list-style: none;
}

.hy .nav-tabs {
    border-bottom: 0px solid #dee2e6;
    display: flex;
    justify-content: center;
}
.hy .col-md-3{
        background: #fff;
    padding: 20px;
    border-radius: 12px;
    margin: 5px;
    max-width: 24%;}
.ul_s{
    text-align: center;
    font-size: 16px;
	color: #666;}
.ul_p{
    text-align: center;
    font-size: 25px;
    padding-top: 20px;
    padding-bottom: 20px;
    font-weight: 600;}
.hy .tab-content {
    padding: 20px 50px;
}
.hy {
    padding: 50px 0px;
	    padding-bottom: 0;
}
.dgge .active.show{
border-bottom:2px solid;}
.activety{
border-bottom:2px solid;}
.hy a{
        font-size: 25px;
    color: #c81616;
    font-weight: 600;  
	}
	 
.footer-col {
	width: 33.3%;
	padding: 0 15px;
}

.footer-col h4 {
	font-size: 18px;
	color: #FFF;
	text-transform: capitalize;
	margin-bottom: 35px;
	font-weight: 500;
	position: relative;
}

.footer-col h4::before {
	content: "";
	position: absolute;
	left: 0;
	bottom: -10px;
	background-color: #E91E63;
	width: 50px;
	height: 2px;
}

.footer-col ul li:not(:last-child) {
	margin-bottom: 10px;
}

.footer-col ul li a {
	color: #DDD;
	display: block;
	font-size: 1rem;
	font-weight: 300;
	text-transform: capitalize;
	text-decoration: none;
	transition: all 0.3s ease;
}

.footer-col ul li a:hover {
	color: #FFF;
	padding-left: 7px;
}

.footer-col .social-links a {
	color: #FFF;
	background-color: rgba(255, 255, 255, 0.2);
	display: inline-block;
	height: 40px;
	width: 40px;
	border-radius: 50%;
	text-align: center;
	margin: 0 10px 10px 0;
	line-height: 40px;
	transition: all 0.5s ease;
}

.footer-col .social-links a:hover {
	color: #151515;
	background-color: #FFF;
}

@media(max-width: 767px) {
	.footer-col {
		width: 50%;
		margin-bottom: 30px;
	}
}

@media(max-width: 574px) {
	.footer-col {
		width: 100%;
	}
}
.she_hd{
text-align: center;
    font-size: 25px;
    padding-bottom: 20px;}
.bid_show_btn_d a {
    color: #000000a8;
    text-decoration: none;
    font-size: 17px;
    font-weight: 600;
}
.vie_cmnt{
    padding: 10px 0px;
	cursor:pointer;
	}
.menubar nav ul a {
    margin-left: 0px !important;
    text-decoration: none !important;
    color: #000000a3;
}
nav ul {
    background-color: #fafafa;
	}
	.commentId{
	margin:0 !important;}
	.fdhs{
	    font-weight: 900;
    color: #ed1c24;
    font-size: 18px;
    padding: 5px 0px;}
	.sfpd{
	    padding: 10px 0px;}
	.art_title b{
	    color: #2a2727 !important;
		}
		.art_title { 
    margin: 0;
}
nav .links {
    float: right;
    padding: 0;
    margin: 0;
    width: 60%;
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
nav .links li {
    list-style: none;
}
.links li {
    color: #ff4081;
    font-size: 13px;
    margin: 2px 0;
    overflow: visible;
    text-overflow: ellipsis;
    white-space: nowrap;
    padding: 10px;
}
nav .links a {
    display: block;
    padding: 1em;
    font-size: 16px;
    font-weight: bold;
    color: #fff;
    text-decoration: none;
    position: relative;
}
.logo img {
    width: 150px;
    background-color: transparent;
    border-radius: 20px;
    box-shadow: none;
}
 
nav .links a::before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: white;
    visibility: hidden;
    transform: scaleX(0);
    transition: all 0.3s ease-in-out 0s;
}
 
#nav-toggle {
     position: absolute;
     top: -100px;
}
nav .icon-burger {
    display: none;
    position: absolute;
    right: 5%;
    top: 50%;
    transform: translateY(-50%);
}
nav .icon-burger .line {
    width: 30px;
    height: 5px;
    background-color: #fff;
    margin: 5px;
    border-radius: 3px;
    transition: all .5s ease-in-out;
}
@media screen and (max-width: 768px) {
    nav .logo {
        float: none;
        width: auto;
        justify-content: center;
    }
    nav .links {
        float: none;
        position: fixed;
        z-index: 9;
        left: 0;
        right: 0;
        top: 100px;
        bottom: 100%;
        width: auto;
        height: auto;
        flex-direction: column;
        justify-content: space-evenly;
        background-color: rgba(0, 0, 0, .8);
        overflow: hidden;
        transition: all .5s ease-in-out;
    }
    nav .links a {
        font-size: 20px;
    }
	
    nav :checked ~ .links {
        bottom: 0;
    }
    nav .icon-burger {
        display: block;
    }
    nav :checked ~ .icon-burger .line:nth-child(1) {
        transform: translateY(10px) rotate(225deg);
    }
    nav :checked ~ .icon-burger .line:nth-child(3) {
        transform: translateY(-10px) rotate(-225deg);
    }
    nav :checked ~ .icon-burger .line:nth-child(2) {
        opacity: 0;
    }
}
</style>
  
<div class="menubar">
    <nav>
         
        <a href="/welcome"><div class="logo"><img src="/images/logo_transparent.png" alt="bid Logo"></div></a>
       <ul class="links">
           <li><a href="/welcome">Home</a></li>
            <li>
                <a href="/art-list">My Arts</a>
            </li>
            <li>
                <a href="/past-auction">Past Auction</a>
            </li>
            <li>
                <a href="/advertisement-list">My Advertisements</a>

            </li>
            <li>
                <a href="/profile">My Profile</a>
            </li>
            <li><a href="/logout">Logout</a></li>
			
			<li><a style="color: #852b2b;font-size: 17px;font-weight: 600;" class="nav-link" href="/cart">
    <svg _ngcontent-ng-c3631614527="" width="21" height="22" viewBox="0 0 21 22" fill="none" xmlns="http://www.w3.org/2000/svg"><path _ngcontent-ng-c3631614527="" fill-rule="evenodd" clip-rule="evenodd" d="M6.48626 20.5H14.8341C17.9004 20.5 20.2528 19.3924 19.5847 14.9348L18.8066 8.89359C18.3947 6.66934 16.976 5.81808 15.7311 5.81808H5.55262C4.28946 5.81808 2.95308 6.73341 2.4771 8.89359L1.69907 14.9348C1.13157 18.889 3.4199 20.5 6.48626 20.5Z" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path><path _ngcontent-ng-c3631614527="" d="M6.34902 5.5984C6.34902 3.21232 8.28331 1.27803 10.6694 1.27803V1.27803C11.8184 1.27316 12.922 1.72619 13.7362 2.53695C14.5504 3.3477 15.0081 4.44939 15.0081 5.5984V5.5984" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path><path _ngcontent-ng-c3631614527="" d="M7.70365 10.1018H7.74942" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path><path _ngcontent-ng-c3631614527="" d="M13.5343 10.1018H13.5801" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path></svg> <span style="position:relative;bottom:5px;left:5px;">My Cart</span>
</a></li>
       </ul>
       <label for="nav-toggle" class="icon-burger">
           <div class="line"></div>
           <div class="line"></div>
           <div class="line"></div>
       </label>
    </nav>
	
	 
</div>
<div>
