<%- include('layouts/outerheader'); -%>
<link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.0.2/css/bootstrap.min.css'>
<style>
.btn_wid_shanal .btn{
width:60% !important;}
.information-processing-form {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
.acnt_img{
    text-align: center;
    position: relative;
    bottom: 25px;
    right: 15px;}
.acnt_img img{
width:150px;}
.btn{
    padding: 12px;
	}
	label.text-black-50{
font-size: 15px !important;
}
	.form-floating>.form-control:-webkit-autofill~label{
font-size: 16px !important;}
.border-danger{
border-color: #000!important;
}
.padding_set{
padding: 10px 60px !important;
}
.error-text {
    color: #c0392b;
    font-size: 14px;
}
.textonimg {
    position: static;
    font-weight: bold;
    font-size: 20px;
    top: 60%;
    left: 33%;
    transform: none;
}
.pdbtm20{
padding-bottom:20px;
}
.fnt16{
font-size:16px;}
body{
    background-image: none;}
</style>

<body>
<section class="container information-processing-form rounded-2">
  <div class="row d-flex align-items-center">
    <div class="col-sm-6 d-block">
      <img src="/images/bg-login.png" alt="banner left form" width="100%" class="rounded-5">
    </div>
    <div class="col pt-5">
	<div class="acnt_img">
		<img src="images/logo_transparent.png">
	</div>
      <h3 class="text-center">Login</h3>      
       
      <form method="post" class="padding_set" action="/login" id="submitFormValidate">
        <div class="form-floating mb-3">
          <input value="<%= typeof userName !== 'undefined' ? userName : '' %>" id="userName" type="email" class="inputError form-control input_user shadow-none border-danger" required autocomplete="email" name="userName" autofocus placeholder="...">
          <label for="email" class="text-black-50">Enter your email.</label>

        </div>
		<span role="alert" class="requiredError" aria-hidden="true">
                     Please enter Username
                     </span>
        <div class="form-floating mb-3">
          <input name="password" id="pass-field" type="password" name="password" class="inputError form-control shadow-none border-danger" placeholder="...">
          <label for="password" class="text-black-50">Enter your password.</label>

        </div>
         <span role="alert" class="requiredError" aria-hidden="true">
                     Please enter Password
                     </span>
					 
					 <% if (errors && errors.length> 0) { %>
                     <div class="error-message">
                        <% for (let i=0; i < errors.length; i++) { %>
                        <p class="error-text">
                           <%= errors[i].msg %>
                        </p>
                        <% } %>
                     </div>
                     <% } %>
					 <div class="text-center pdbtm20">
         <a href="/forgotpassword" data-toggle="modal" data-dismiss="modal"
                           class="fnt16 close-modal pointer-class" data-modalid="forgotModal"> Forgot your password?</a>
						   </div>
						   
		<div class="btn_wid_shanal text-center">				   
		<input id="submitId" value="Login" type="submit" class="btn btn-danger w-100 mb-2 btn login_btn" onclick="validateForm(event)">
		</div>
        <div class="create-account text-center">

          <span>Do not have an account? </span><a href="register" class="text-decoration-none">Sign Up !</a>
        </div>
      </form>
    </div>
  </div>
</section>
   
</body>
<script>
   // const submit1 = document.getElementById("submitId");
   // submit1.addEventListener("click", validate);
   function validateForm(e) {
       const form = document.getElementById('submitFormValidate')
       e.preventDefault();
       const userNameField = document.getElementsByClassName("inputError");
       let vaClass = true;
       for (var i = 0; i < userNameField.length; i++) {
           if (!userNameField[i].value) {
               vaClass = false;
               const showRequiredErr = document.getElementsByClassName("requiredError");
               console.log(showRequiredErr)
               showRequiredErr[i].classList.add("visible");
               userNameField[i].classList.add("invalid");
               showRequiredErr[i].setAttribute("aria-hidden", false);
               showRequiredErr[i].setAttribute("aria-invalid", true);
           }else{
               const showRequiredErr = document.getElementsByClassName("requiredError");
               showRequiredErr[i].classList.remove("visible");
               userNameField[i].classList.remove("invalid");
               showRequiredErr[i].setAttribute("aria-hidden", true);
               showRequiredErr[i].setAttribute("aria-invalid", false);
           }
       }
       if(vaClass){
           form.submit();
       }else{
           return false;
       }
   }
</script>