	<%- include('layouts/innerheader'); -%>
<body>
	<style>
		.menubar{
		display:none;}
		body{
			background-image: none;}
			.textonimg {
			position: static;
			font-weight: bold;
			font-size: 20px;
			top: 60%;
			left: 33%;
			transform: none;
		}
		.paddingtp3{
			padding-top: 300px;}
			.fnt20{
			font-size:20px;}
		</style>
     
	<div class="container paddingtp3">
	<div class="row">
	<div class="col-md-12">
    <div class="passwordresetsuccessmessage">
		<img src="/images/Account-rafiki.png" style="width:40%;">
		<h3 class="fnt20"> You have successfully registered your account with <b>Artbid</b>. <br/> Please click on <a class="text-decoration-none text-danger" href="login"><u>Login Now</u></a> to Sign in</h3> <br/>
	</div>
	</div>
	</div>
	</div>
	
    </body>
    <%- include('layouts/footer'); -%>