<%- include('layouts/innerheader'); -%>

    <body>
        <div class="container">
       
        <br />
        <section class="image-container">
            
        </section>




        </div>
        
    </div>
    </body>
    <div class="welcomeMessage">
        <h3> “The object of art is not to reproduce reality, but to create a reality of the same intensity.” </h3>
        <br />

    </div>
    <%- include('layouts/footer'); -%>