@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap');

body,
header {
  width: 100%;
  /* increase the width of the body to make space for the sidebar on the right */
  /* border: 2px solid black; */
  /* add a 2px border in black around the content */
  /* margin: 20px auto;
    /* 20px margin from top and bottom of the browser body and auto makes the content sit equidistant from the left and right of the browser body */
  /* padding: 20px;
     make the content inside the body sit at a 20px gap from all the 4 sides */
  /* border-radius: 10px;
    /* round the edges of the border */
  font-family: 'Lato', sans-serif !important;
  /* change the default font to sans serif */
}


.pdhs {
  padding-top: 120px;
}

.outerheader img {
  width: 150px;
  margin-top: -400px;
  margin-left: -600px;

}

#comments .container.my-5.py-5.text-dark {

  margin: 0px !important;
  padding: 20px !important;

}

/*

header .innerheader {
    display: grid;
    grid-template-columns: 1fr 1fr 9fr;
    grid-gap: 0px;
    margin-top: -200px;
}




.logotitle {
    display: grid;
    grid-template-columns: 1fr 1fr 9fr;
    grid-gap: 0px;

}*/

.logotitle img {
  width: 150px;



}

.logotitle h2 {
  margin-top: 33px;
}

header h4 {
  margin-left: 850px;
  text-align: end;
}



.loginfieldset {

  border-color: none;
  box-shadow: 5px 10px 8px #888888;
  border-radius: 10px;
  width: 300px;
  height: 420px;
  margin: auto;
  margin-right: -500px;
  box-shadow: #333;
  margin-top: -30px;

}

.registerfromgrind {

  display: grid;
  grid-template-columns: auto auto;
  grid-gap: 0px;


}

.date_values {
  position: relative;
  top: 3px;
  left: 5px;
}

.registerfieldset {
  width: 450px;
  height: 600px;
  margin-top: -50px;
  border-color: solid black;
  box-shadow: 5px 10px 8px #888888;
  margin-right: -550px;
  border-radius: 20px;
  box-shadow: #333;
}

.error-messages {
  color: #9f0015;
  font-size: 12px;
}

.art-link {
  text-decoration: none !important;
}

.art_title {

  font-size: 23px !important;
  font-weight: 600 !important;
}

.top {

  padding-top: 20px !important;
}

.min_bid_amount {
  color: teal !important;
  font-size: 25px;
  padding-left: 10px;
}


/*
.grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
     Two columns with equal width */
/* grid-gap: 50px; */
/* Adjust the gap as needed 

}

.grid-item {
    padding: 50px;
}

.grid-item.image img {
    width: 500px;
    filter: blur(2.5px); }
    /* Adjust the blur radius as needed */


.login {
  background-color: #ffffff;
  margin-top: 5px;
  /* Optional background color for the login column */
}

.error-text {
  color: red;
  font-size: 12px;
}

.welcomepara {
  position: absolute;
  font-weight: bold;
  color: white;
  top: 70%;
  /* Adjust to vertically center the text */
  left: 50%;
  /* Adjust to horizontally center the text */
  transform: translate(-90%, -90%);
  /* background-color: rgba(255, 255, 255, 0.7); Add a semi-transparent background */
  /* padding: 10px; */
  text-align: center;
}

footer {
  /* background-color: #f7e7d9;
    /* add colour to the nav background */
  /* padding: 10px 0;
    /* add a 20 px top and bottom padding in the nav tag  */
  text-align: center;
  font-size: 15px;
}

button.login {
  background-color: #800d29;
  /* add a background colour */
  color: white;
  /* change the text colour */
  display: inline-block;
  /* so that we can assign a width */
  width: 220px;
  height: 40px;
  /* set the width of the link */
  font-size: 15px;
  /* change the font size */
  border: 2px solid white;
  /* add a border */
  text-decoration: none;
  /* remove the underline */
  padding: 10px;
  /* add a top, right, bottom and left padding */
  margin-left: 45px;
  border-radius: 15px;
  margin-top: 10px;
}

button.register {
  background-color: #800d29;
  /* add a background colour */
  color: white;
  /* change the text colour */
  display: inline-block;
  /* so that we can assign a width */
  width: 300px;
  /* set the width of the link */
  font-size: 15px;
  /* change the font size */
  border: 2px solid white;
  /* add a border */
  text-decoration: none;
  /* remove the underline */
  padding: 10px;
  /* add a top, right, bottom and left padding */
  margin-left: 80px;
  border-radius: 15px;
}

.error {
  /* border: 1px solid rgb(34, 3, 3); */
  color: red;
  margin-left: 1%;
  margin-right: 10%;
}

/*
.forgotpasswordpage {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 0px;
} */

.forgotpasswordform {

  border-radius: 20px;
  justify-content: center;
  width: 350px;
  height: 450px;
  padding-left: 50px;
  padding-top: 0px;
  padding-bottom: 50px;
  /* background-color: #d7cdc5; */
  align-items: center;
  color: #0c0a0a;
  font-size: 18px;
  margin-top: 10px;
  margin-left: 600px;
  border-radius: 20px;
  box-shadow: 5px 10px 8px #888888;
  box-shadow: #333;
}

.forgotpasswordform h4 {
  text-align: center;
  font-size: 20px;
  margin-right: 25px;
  margin-top: 10px;
}

.forgotpasswordform label {
  font-size: 13px;
  margin-left: 20px;
  color: solid black;
}

.forgotpasswordfield input {
  width: 250px;
  height: 18px;
  margin-left: 20px;


}

.loginfield input {
  margin-top: 5px;
  width: 300px;
  height: 20px;
  padding: 5px;

}

.loginfield {
  padding: 10px;
}

.registerfieldset h3 {
  text-align: center;
  font-size: 20px;
  font-family: 'Lato', sans-serif !important;

}

.Registerfield input {
  margin-top: 1px;
  width: 200px;
  height: 20px;

}

.Registerfield label {
  font-size: 12px;
}

.Registerfield {
  padding: 2px;


}

.registercheckbox {
  font-size: 12px;
}

.logincontent {
  margin-top: 40px;
}

.forgotpasswordlink,
.registeruserlink {
  text-align: center;
  font-size: 12px;
}

.resetpasswordbuttonsub button {
  color: white;
  margin-top: 15px;
  margin-left: 50px;
  width: 200px;
  padding: 5px;
  font-size: 15px;

  background-color: #800d29;
  font-family: 'Trebuchet MS', sans-serif;
  align-items: center;
  border: 2px solid white;
  border-radius: 15px;
}


.outerpageimage img {

  background: no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  overflow-x: hidden;
  overflow-y: hidden;

  /*  width: 100%;
    height: 630px;
     filter: blur(3px);
    -webkit-filter: blur(1px); */
}

#submitFormValidate .name-field input {
  width: 100%;
  height: 30px;
  border-radius: 5px;
  border-color: #0000007a;
  padding: 1rem;
  font-size: 1rem;
  font-family: var(--txt-style);
  font-weight: 500;
  margin-top: .8rem;
  box-shadow: rgb(98 98 102 / 13%) 0px 0px 12px 0px !important;
  background-color: rgb(255, 255, 255);
  padding: 20px 10px;
}

#submitFormValidateSecurityCheck .login_container {
  margin-top: auto !important;
}

.btn-info {

  font-size: 13px;
}

.logoAlign {
  text-align: center;
  padding: 10px;
}

.pd-0 {
  padding: 0px !important;
}

#zip {
  margin-top: 0px !important;
}

.requiredError {
  padding-top: 10px !important;
}

.cart-data li {

  padding-bottom: 10px !important;
}

.pdt-0 {
  padding-top: 0px !important;
}

#bidend {

  color: #dc1c1c !important;
  font-size: 16px;
}

.detail_cont {

  background: #fff;
  padding: 20px;
  width: 85%;
  MARGIN: 0 AUTO;
}

#comments .card-body {
  padding: 10px;
}

#comments .card-body img {
  height: 50px;
  width: 50px;

}

.comment_user_name {

  padding-left: 15px;
}

.comment_text {

  padding-left: 15px;
}

.comment_scroll {
  height: 500px;
  overflow: scroll;
}

.comment_date {

  font-size: 11px;
  padding: 5px 5px 5px 15px;
  color: #eee;
}

.forgot_card {

  height: 450px !important;
}

#submitFormValidateSecurityCheck .login-btn {

  margin-top: 0px !important;
}

.forgot_card .form_container {

  margin-top: 10px !important;
}

.menubar nav ul a {

  margin-left: 0px !important;
  text-decoration: none !important;
}

.menubar nav ul {
  justify-content: center;
}

#submitFormValidateSecurityCheck .name-field input {
  width: 100%;
  height: 30px;
  border-radius: 5px;
  border-color: #0000007a;
  padding: 1rem;
  font-size: 1rem;
  font-family: var(--txt-style);
  font-weight: 500;
  margin-top: .8rem;
  box-shadow: rgb(98 98 102 / 13%) 0px 0px 12px 0px !important;
  background-color: rgb(255, 255, 255);
  padding: 20px 10px;
}


.textonimg {
  position: absolute;
  font-weight: bold;
  font-size: 20px;
  top: 60%;
  left: 33%;
  transform: translate(-50%, -50%);

}

.registrationmessage {
  text-align: center;
  color: rgb(4, 4, 5);
  margin-top: -170px;
  font-weight: bolder;
  font-size: 15px;
}


ul,
li {
  list-style: none;
  padding: 0px 50px;
  text-align: center;
  font-size: 17px;
  font-family: Roboto, Trebuchet MS, Helvetica, Arial, sans-serif;

}

nav ul {
  background-color: #852b2b;
  display: flex;
}

nav ul a {
  margin-left: 100px;
}

a:focus {
  color: #e60000;
}

nav ul li {
  position: relative;
}

nav ul li a {
  display: block;
  padding: 8px 6px;
  color: #f8f5f5;
  text-decoration: none;
}

nav ul li a:hover {
  background-color: #fbfcfc;
  color: #93213d;
}

.menubar {
  /* margin-top: -20px; */
  width: 100%;
  position: absolute;
}

.image-container {
  margin-top: -35px;

}

.slider-wrapper {
  position: relative;
  /* w idth: 1420px; */
  /* margin: 0 auto; */


}

.slider {
  display: flex;
  aspect-ratio: 16/6;
  overflow-x: auto;
  scroll-snap-type: x mandatory;
  scroll-behavior: smooth;
  box-shadow: 0 1.5rem 3rem -0.75rem hsla(0, 0%, 0%, 0.25);
  border-radius: 2px;
  overflow-x: hidden;

}

.slider img {
  flex: 1 0 100%;
  scroll-snap-align: start;
  object-fit: cover;
}

.slider-nav {
  display: flex;
  column-gap: 1rem;
  position: absolute;
  bottom: 1.25rem;
  left: 50%;
  transform: translate(-50%);
  Z-index: 1;
}

.slider-nav a {
  width: 0.5rem;
  height: 0.5rem;
  border-radius: 50%;
  background-color: #fff;
  opacity: 0.75;
  transition: opacity ease 250ms;
}

.slider-nav a:hover {
  opacity: 1;
}

.welcomeMessage {
  text-align: center;
}

.passwordresetsuccessmessage {
  text-align: center;
  margin-top: -250px;
}

body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.wrapper {
  margin-top: 80px;
  margin-bottom: 20px;
}

.form-signin {
  max-width: 420px;
  padding: 30px 38px 66px;
  margin: 0 auto;
  background-color: #eee;
  border: 3px dotted rgba(0, 0, 0, 0.1);
}

.form-signin-heading {
  text-align: center;
  margin-bottom: 30px;
}

.form-control {
  position: relative;
  font-size: 16px;
  height: auto;
  padding: 10px;
}

input[type="text"] {
  margin-bottom: 0px;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

input[type="password"] {
  margin-bottom: 0px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

input[type="number"] {
  margin-bottom: 0px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  font-family: 'Lato', sans-serif !important;

}



:root {
  --login-box-bg-color: black;
  --neon-color: #bc13fe;
  --neon-color: #0084ff;
  --logo-color: red;
  --txt-style: 'Lato', sans-serif !important;

}

color {
  color: #c93838;
}

html,
body {
  width: auto;
  padding: 0 0
}

.main-div {
  height: 100vh;
  /* display: flex; */
  /* justify-content: space-evenly; */
  align-items: center;
  padding: 6rem 0;
}

.logo img {
  width: 90%;
  background-color: black;
  border-radius: 20px;
  box-shadow:
    0 0 .4rem #fff,
    0 0 .4rem #fff,
    0 0 3rem var(--logo-color),
    0 0 0.8rem var(--logo-color),
    0 0 1.4rem var(--logo-color),
    inset 0 0 1rem var(--logo-color)
}

.main-div .title {
  color: rgb(18, 1, 1);
  text-align: center;
  font-size: 3rem;

}

/* .main-div form {
    margin-left: 100px;
    
    
} */




.login-form {
  background-color: var(--login-box-bg-color);
  border-radius: 20px;
  min-width: 200px;
  width: 60%;
  min-height: 60vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  box-shadow: 0 0 .2rem #fff,
    0 0 .2rem #fff,
    0 0 2rem #bc13fe,
    0 0 0.8rem #bc13fe,
    0 0 2.8rem #bc13fe,
    inset 0 0 1.3rem #bc13fe;
}

.login-form .login-box {
  margin: 2rem;
  padding: 1rem;
}

input[type='text'],
input[type='password'],
input[type='email'],
input[type='date'],
input[type='time'],
input[type='number'] {
  width: 100%;
  height: 30px;
  border-radius: 5px;
  border-color: black;
  padding: 1rem;
  font-size: 1rem;
  font-family: var(--txt-style);
  font-weight: 500;
  margin-top: .8rem;
}

textarea[type='text'] {
  width: 100%;
  height: 170px;
  border-radius: 5px;
  border-color: black;
  padding: 1rem;
  font-size: 1rem;
  font-family: var(--txt-style);
  font-weight: 500;
  margin-top: .8rem;
}

.password-field,
.name-field {
  margin-top: 1rem;
}

.login-btn-field {
  text-align: center;

}

.login-btn {
  padding: 0.7rem 1.3rem;
  border-radius: 10px;
  border-color: transparent;
  margin-top: 2rem;
  background: #93213d;
  font-family: var(--txt-style);
  font-size: 1rem;
  font-weight: bold;
  color: white;
}



p {
  color: white;
  font-family: var(--txt-style);
}

.register-field a {
  text-decoration: none;
}

.register-field a p {
  padding: 1rem;
  text-align: center;
  color: black;
  font-size: .9rem;
  color: #000 !important;
  padding-bottom: 30px;
  font-weight: normal;
}

.register-field a p:hover {
  color: white;
}

@media screen and (min-width: 700px) {
  .login-form {
    width: 50vw;
  }
}

@media screen and (min-width: 1000px) {
  .login-form {
    width: 40vw;
  }
}

.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}

.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

.sidenav a:hover {
  color: #f1f1f1;
}

.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

@media screen and (max-height: 450px) {
  .sidenav {
    padding-top: 15px;
  }

  .sidenav a {
    font-size: 18px;
  }
}

.welcomeMessage {
  position: absolute;
  bottom: 0px;
  text-align: center;
}

.welcomeMessage h3 {
  margin-inline-start: 383px;
}

.title-heading {
  font-weight: bold;
  color: rgb(218, 23, 23) !important;
  text-align: center;
}

@media (max-width: 767.98px) {
  .border-sm-start-none {
    border-left: none !important;
  }
}

.requiredErrorSecurityCheck {
  display: none;
  font-size: 0.8em;
  color: rgb(240, 9, 9);
}

.requiredErrorSecurityCheck.visible {
  display: block;
}

.requiredError {
  display: none;
  font-size: 0.8em;
  color: rgb(243, 8, 8);
}

.requiredError.visible {
  display: block;
}

.commentBidSuccess {
  display: none;
  font-size: 0.8em;
  color: rgb(21, 201, 93);
}

.commentBidSuccess.visible {
  display: block;
}

.addedtocartSuccess {
  display: none;
  font-size: 0.8em;
  color: rgb(21, 201, 93);
}

.addedtocartSuccess.visible {
  display: block;
}

input.invalid {
  border-color: red;

}

.form-data {
  position: absolute;
}

.success-text {

  color: black;
  background-color: green;
}

.image-show {
  height: 240px;
  width: 240px;
}

.showLeft {
  background-color: #0d77b6 !important;
  border: 1px solid #0d77b6 !important;
  text-shadow: none !important;
  color: #fff !important;
  padding: 10px;
}

.icons li {
  background: none repeat scroll 0 0 #fff;
  height: 7px;
  width: 7px;
  line-height: 0;
  list-style: none outside none;
  margin-right: 15px;
  margin-top: 3px;
  vertical-align: top;
  border-radius: 50%;
  pointer-events: none;
}

.btn-left {
  left: 0.4em;
}

.btn-right {
  right: 0.4em;
}

.btn-left,
.btn-right {
  position: absolute;
  top: 0.24em;
}

.dropbtn {
  background-color: #4CAF50;
  position: fixed;
  color: white;
  font-size: 16px;
  border: none;
  cursor: pointer;
}

.dropbtn:hover,
.dropbtn:focus {
  background-color: #3e8e41;
}

.dropdown {
  position: absolute;
  display: inline-block;
  right: 0.4em;
}

.dropdown-content {
  display: none;
  position: relative;
  margin-top: 60px;
  background-color: #f9f9f9;
  min-width: 160px;
  overflow: auto;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown a:hover {
  background-color: #f1f1f1
}

.show {
  display: block;
}

dd {

  margin-top: 0px !important;
}

.desc {

  color: black;
}

.footer .footer-socila-icon a {
  width: 30px;
  height: 30px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  background: #F84E77;
  color: #ffffff;
  border-radius: 50%;
  margin-right: 8px;
  font-size: 15px;
}

.footer .footer-socila-icon a:hover {
  background: #1baaa0;
}

.footer .footer-links {
  margin: 0;
}

.footer .footer-links li+li {
  padding-top: 10px;
}

.footer .footer-links li a {
  position: relative;
}

.footer .footer-links li a:after {
  content: "";
  position: absolute;
  width: 0px;
  left: auto;
  right: 0;
  bottom: 0;
  height: 1px;
  transition: ease all 0.35s;
  background: #F84E77;
}

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: red;
  color: white;
  text-align: center;
}

.footer .footer-links li a:hover:after {
  width: 100%;
  left: 0;
  right: auto;
}

.footer .footer-top {
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.footer .footer-top h5,
.footer .footer-top .h5 {
  position: relative;
  font-size: 1.2rem;
  text-transform: uppercase;
}

@media (min-width: 768px) {
  .footer .footer-top {
    padding-top: 2rem;
    padding-bottom: 1rem;
  }
}

@media (min-width: 992px) {
  .footer .footer-top {
    padding-top: 3rem;
    padding-bottom: 2rem;
  }
}

.footer .footer-border-top {
  border-top: 1px solid rgba(255, 255, 255, 0.1);
}

.footer .footer-border-top.dark {
  border-top: 1px solid rgba(16, 16, 16, 0.1);
}

.footer .footer-border-bottom {
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}

.footer .footer-border-bottom.dark {
  border-bottom: 1px solid rgba(16, 16, 16, 0.1);
}

.bg-dark-gradient {
  background: linear-gradient(180deg, #101010 50%, black 100%) repeat-x !important;
}

.white-link a {
  color: rgba(255, 255, 255, 0.65);
}

a {
  text-decoration: none
}

.avatar-lg img {
  width: 90px;
  height: 90px;
}


table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td,
th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}

.table-data {
  height: 100%;
  text-align: center;
  background-image: url(/images/no.png);
  background-repeat: no-repeat;
  margin-left: 33%;
  margin-top: 170px !important;
}


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: -apple-system, system-ui, "Segoe UI", Roboto, Oxygen, Ubuntu,
    Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  background: #f0f2f5;

}

.navbar {
  position: fixed;
  z-index: 100000;
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgb(255, 255, 255);
  width: 100%;
  border: 1px solid rgb(218, 217, 217);
}

.navbar .container {
  /* background-color: #555; */
  padding: 15px 0;
  width: 75%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  /* margin: 0 auto; */
}

.container .logo {
  display: inline-block;
  cursor: pointer;
}

.searchbar {
  width: -10%;
  text-align: end;
}

.searchbar input {
  background-color: #fafafa;
  padding: 5px;
  text-indent: 21px;
  outline: none;
  border: 1px solid rgb(218, 217, 217);
  border-radius: 2px;
  color: rgb(77, 77, 77);
}

.searchbar img {
  position: absolute;
  margin-left: -10.5rem;
  margin-top: 0.25rem;
}

.searchbar input::placeholder {
  font-weight: lighter;
  color: rgb(172, 172, 172);
}

.nav-links {
  font-weight: lighter;
  color: rgb(172, 172, 172);
  /* background: #333  ; */
}

.nav-group .nav-item {
  list-style-type: none;
  margin: 0 8px;
}

.nav-group .nav-item a {
  font-size: 22px;
  display: block;
  color: black;
}

.nav-group {
  display: flex;
  align-items: center;
  justify-content: center;
}

.action .profile {
  position: relative;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  overflow: hidden;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

.action .profile img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

main {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

main .container {
  position: relative;
  margin-top: 60px;
  width: 75%;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  /* background: #ddd; */
}

.col-9 {
  width: 65%;
  margin-top: 30px;
}

.statuses {
  margin-bottom: 30px;
  width: 100%;
  background-color: #fff;
  display: flex;
  align-items: center;
  justify-content: start;
  padding: 20px 0;
  border-radius: 2px;
  border: 1px solid rgb(218, 217, 217);
  overflow: auto;
}

.statuses .status {
  display: inline-block;
  border-radius: 50%;
  overflow: auto;
  width: 70px;
  height: 70px;
  min-width: 70px;
  min-height: 70px;
  background: linear-gradient(to right, red, orange);
  padding: 2px;
  margin-left: 15px;
  cursor: pointer;
}

.statuses .status .image {
  position: relative;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  overflow: hidden;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px solid white;
}

.statuses .status img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.col-3 {
  width: 33%;
  position: -webkit-sticky;
  position: sticky;
  top: 90px;
}

.col-3 h4 {
  color: rgb(100, 100, 100);
}

.col-3 .card {
  margin-bottom: 20px;
  position: relative;
  width: 100%;
  /* min-height: 400px; */
  display: inline-block;
}

.col-3 .card .top {
  padding: 10px 0px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.col-3 .card .top a {
  color: #1d92ff;
}

.col-3 .card .bottom {
  padding: 10px 20px;
}

.col-3 .card .top .userDetails {
  width: 100%;
  display: flex;
  align-items: center;
}

.col-3 .card .top .userDetails h3 {
  font-size: 16px;
  color: #4d4d4f;
  font-weight: 500;
  line-height: 1em;
}

.col-3 .card .top .userDetails h3 span {
  font-size: 0.75em;
}

.col-3 .card .top .userDetails h3 span {
  font-size: 0.75em;
}

.col-9 .card {
  margin-bottom: 20px;
  position: relative;
  width: 100%;
  /* min-height: 400px; */
  display: inline-block;
  border: 1px solid rgba(7, 7, 7, 0.24);
}

.col-9 .card .top {
  padding: 10px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.col-9 .card .bottom {
  padding: 10px 20px;
}

.col-9 .card .top .userDetails {
  width: 100%;
  display: flex;
  align-items: center;
}

.profilepic {
  display: inline-block;
  cursor: pointer;
}

.profilepic .profile_img {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  overflow: hidden;
  width: 30px;
  height: 30px;
  background: linear-gradient(to right, red, orange);
  padding: 2px;
  margin-right: 8px;
  cursor: pointer;
}

.profilepic .profile_img .image {
  position: relative;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  overflow: hidden;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px solid white;
}

.profilepic .profile_img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.cover {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.col-9 .card .top .userDetails h3 {
  /* width: 100%; */
  font-size: 16px;
  color: #4d4d4f;
  font-weight: 500;
  line-height: 1em;
}

.col-9 .card .top .userDetails h3 span {
  font-size: 0.75em;
}

.col-9 .card .top .userDetails h3 span {
  font-size: 0.75em;
}

.dot {
  transform: scale(0.6);
  cursor: pointer;
}

.imgBx {
  position: relative;
  width: 100%;
  min-height: 600px;
  margin: 10px 0 15px;
}

.actionBtns {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.actionBtns svg {
  cursor: pointer;
}

.actionBtns .left svg {
  margin-right: 8px;
}

.likes {
  font-weight: 500;
  margin-top: 5px;
  font-size: 14px;
  color: #4d4d4f;
}

.message {
  font-weight: 400;
  margin-top: 5px;
  font-size: 14px;
  color: #777;
  line-height: 1.5em;
}

.message b {
  color: #262626;
}

.message span {
  cursor: pointer;
  color: #1d92ff;
}

.comments {
  margin-top: 10px;
  font-weight: 400;
  color: #999;
}

.addComments {
  display: flex;
  align-items: center;
  margin-top: 20px;
  border-top: 1px solid #ddd;
  padding: 10px 0;
}

.addComments a {
  color: #1d92ffcb;
  font-weight: 500;
}

.addComments .reaction {
  position: relative;
  font-size: 1.3rem;
  margin-right: 10px;
  color: rgb(88, 88, 88);
}

input.text {
  width: 100%;
  border: none;
  outline: none;
  font-weight: 400;
  font-size: 14px;
  color: #262626;
  background: none;
}

input.text::placeholder {
  color: #777;
}

.postTime {
  margin-top: 8px;
  font-weight: lighter;
  color: rgb(163, 163, 163);
  font-size: 12px;
  text-transform: uppercase;
}

a {
  text-decoration: none;
}

.hidden {
  display: none;
}

@media screen and (max-width: 1000px) {
  .col-9 {
    width: 100%;
    background: #fafafa;
  }

  .col-3 {
    display: none;
  }
}

@media screen and (max-width: 600px) {
  .container {
    width: 100% !important;
  }

  .navbar .container {
    padding: 15px 10px !important;
  }

  .col-9 {
    margin-top: 4px;
    min-width: 100%;
  }

  .statuses {
    margin-bottom: 0px;
  }

  .col-9 .card {
    margin-bottom: 0px;
    width: 100%;
    border: none;
  }

  .imgBx {
    position: relative;
    width: 100%;
    min-height: 400px;
    margin: 10px 0 15px;
  }

  .searchbar {
    display: none;
  }
}

.footer .footer-section {
  margin-left: 0.5rem;
  color: #999999;
  font-size: 14px;
  font-family: sans-serif;
}

.footer a:hover {
  color: #ff0000;
}